Package: libaugeas-dev
Source: augeas
Version: 1.11.0-2
Architecture: amd64
Maintainer: Hilko Bengen <bengen@debian.org>
Installed-Size: 15643
Depends: libaugeas0 (= 1.11.0-2), libxml2-dev, libselinux1-dev
Section: libdevel
Priority: optional
Multi-Arch: same
Homepage: http://augeas.net/
Description: Development files for writing applications based on libaugeas0
 Augeas is a configuration editing tool. It parses configuration files in their
 native formats and transforms them into a tree. Configuration changes are made
 by manipulating this tree and saving it back into native config files.
 .
 This package includes the development files to write programs using the Augeas
 API.
