Package: augeas-doc
Source: augeas
Version: 1.11.0-2
Architecture: all
Maintainer: Hilko Bengen <bengen@debian.org>
Installed-Size: 158
Section: doc
Priority: optional
Multi-Arch: foreign
Homepage: http://augeas.net/
Description: Augeas lenses documentation
 Augeas parses configuration files described in lenses into a tree structure,
 which it exposes through its public API. Changes made through the API are
 written back to the initially read files.
 .
 Lenses are the building blocks of the file <-> tree transformation; they
 combine parsing a file and building the tree (the get transformation), with
 turning the tree back into an (updated) file (the put transformation).
 .
 This package contains the generated documentation for the lenses shipping in
 the augeas-lenses package.
